# compiled output
dist
node_modules
k6

# config
.env.*
.git
.gitignore
.commitlintrc.json
.lintstagedrc.json
.dockerignore
.prettierignore
.vscode
.husky
Dockerfile
docker-compose.yml
Makefile

# misc
eslint.config.mjs
.prettierrc
.npmrc
README.md